@import 'variables';

#app-about {
	
	background: #eee;

	#section-intro-image {
		position: relative;
		height: 60vh;

		padding-top: 43vh; 

		box-shadow: 3px 10px 20px rgba(0,0,0,0.5);

		background-attachment: scroll;
		background-image: url(../../img/background/vb-forside.jpg);
		background-position: center center;
		background-repeat: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;

		h1 {
			font-size: 80px;
			font-weight: 100;
			text-shadow: 3px 3px 10px rgba(0,0,0,0.5);

			padding-left: 70px;

			text-transform: uppercase;

			color: #fff;
		}

		@media (max-width: $smallMediaSize) {
			padding-top: 80px;
			height: 40vh;
			h1 {
				font-size: 40px;
				padding-left: 10px;

				.big {
					font-size: 50px;
				}
			}
		}
	}

	#section-intro-text {
		height: auto;

		padding: 30px;
		padding-top: 10px;
		padding-bottom: 100px;

		background: #eee;

		color: #222;

		h1 {
			font-size: 50px;
			font-weight: 500; 
			text-transform: uppercase;
		}

		p {
			margin-top: 20px;
			font-size: 20px;
			font-weight: 300;
		}

		@media (max-width: $smallMediaSize) {
			height: auto;
		}

	}

	#section-members {

		background: #222;

		.member {
			width: 100%;

			background: #eee;

			min-height: 700px;

			float: left;

			padding: 20px;

			background: #222;

			p {
				color: #fff;
				font-size: 16px;
				font-weight: 100;
			}

			h3 {
				color: #fff;
				text-transform: uppercase;
				font-weight: 300;
			}

			img {
				width: 100%;
			}
		}
	}
}