@import 'variables';

#app-contact {

	#section-intro-image {
		position: relative;
		height: 60vh;

		padding-top: 43vh; 

		box-shadow: 3px 20px 20px rgba(0,0,0,0.5);

		background-attachment: scroll;
		background-image: url(../../img/background/trondheim.jpg);
		background-position: center center;
		background-repeat: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;

		h1 {
			font-size: 80px;
			font-weight: 100;
			text-shadow: 3px 3px 10px rgba(0,0,0,0.5);

			text-transform: uppercase;

			padding-left: 70px;

			color: #fff;

			.big {
				font-size: 80px;
			}
		}

		@media (max-width: $smallMediaSize) {
			padding-top: 140px;
			h1 {
				font-size: 40px;
				padding-left: 10px;

				.big {
					font-size: 50px;
				}
			}
		}
	}

	#section-intro-text {
		height: auto;

		padding: 30px;

		background: #222;
		color: #fff;

		text-align: center;

		h1 {
			font-weight: 300;
			font-size: 40px;
		}

		h2 {
			font-size: 25px;
			font-weight: 300;
		}

		span {
			font-size: 30px;
		}

		.container {
			margin-top: 50px;
		}

		@media (max-width: $smallMediaSize) {
			height: auto;
			
			padding-top: 10px;

			.container {
				margin-top: 10px;
			}
			h2 {
				font-size: 20px;
			}

			span {
				margin-top: 30px;
			}
		}

	}
	
}