/* Small media screen */

$smallMediaSize : 768px;

#app-contact {

	padding-top: 250px;

	height: 100vh;

	background: url(../../img/background/trondheim.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (max-width: $smallMediaSize) {
	      padding-top: 70px;

	      height: auto;
	      padding-bottom: 20px;
	}

    .introBox {
    	box-shadow: 5px 5px 5px #222;
    }
	
}