@import 'variables';

#app-frontpage-introsite {
	display: block;

	height: auto;

	background-color: #e1e5e5;

	@media (max-width: $smallMediaSize) {
		padding-top: 20px;
	}

	.down {
		padding-top: 0px;
		margin: 20px;
		margin-right: 200px;
		margin-left: 200px;
		margin-top: 0px;
		text-align: center;

		a {
			color: rgba(0,0,0,0);
		}

		span {
			font-size: 70px;
			color: #fff;
		}

		@media (max-width: $smallMediaSize) {
			margin-right: 50px;
			margin-left: 50px;
		}
	}

	.letter-wrap {
		position: fixed;
		top: 0px;
		left: 0pc;

		cursor: pointer;

		display: none;

		width: 100%;
		height: 100vh;

		z-index: 20;

		background: rgba(0,0,0,0.7);



		.letter {
			position: relative;
			top: 15vh;
			left: 20%;
			
			z-index: 30;

			width: 60%;
			height: 80vh;

			padding: 40px;

			padding-top: 20px;

			overflow: scroll;

			background: white;

			input, button {
				width: 100%;
			}

			button {
				margin-top: 36px;

				background: #fff;

				border: 2px solid black;

				text-transform: uppercase;
			}

			h1 {
				padding-top: 10px;

				text-align: center;
				font-size: 50px;

				color: #444;
				text-transform: none;
			}

			p {
				padding-top: 10px;
				padding-bottom: 10px;

				font-size: 18px;
				font-weight: 300px;

				color: #444;

				font-style: italic;
			}

			img {
				width: 100%;
			}

			@media (max-width: $smallMediaSize) {
				top: 70px;
				left: 5%;

				width: 90%;
				height: 80%;

				padding: 10px;

				h1 {
					font-size: 30px;
					padding-top: 0px;
				}

				p {
					font-size: 14px;
					padding: 5px;
					padding-top: 0px;
					padding-bottom: 0px;
				}
			}
		}
	}

	#section-intro-image {
		position: relative;
		height: 65vh;

		padding-top: 30vh; 

		overflow: hidden;

		box-shadow: 0px 20px 20px rgba(0,0,0,0.5);

		#bgvid {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;

			z-index: 0;

		}

		.filter {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;

			background: rgba(0,0,150,0.3);
		}

		.number-wrap {
			position: relative;
			width: 1020px;
			display: block;
			margin-right: auto;
			margin-left: auto;

			font-weight: 500;
			text-align: center;

			color: #fff;
			text-align: center;

			h1 {
				font-size: 30px;
				font-weight: 100;
				text-transform: uppercase;
				font-style: italic;
			}

			@media (max-width: $smallMediaSize) {
				h1 {
					font-size: 20px;
				}
			}

			.number {
				width: 300px;
				float: left;
				margin-right: 20px;
				margin-left: 20px;

				h1 {
					font-size: 150px;
					color: #eee;
					padding-left: 0px;
					font-weight: 100;
				}

				p {
					font-size: 25px;
					color: #ddd;
					text-transform: uppercase;
				}
			}
		}

		@media (max-width: $smallMediaSize) {
			padding-top: 40px;
			height: 40vh;

			background-attachment: scroll;
			background-image: url(../../img/background/lstn-bg.jpg);
			background-position: center center;
			background-repeat: none;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			-o-background-size: cover;

			#bgvid {
				display: none;
			}

			.number-wrap {

				width: 200px;
				.number {
					width: 100%;
					margin-left: 0px;
					h1 {
						font-size: 45px;
						margin: 0px;
					}

					p {
						font-size: 15px;
						margin: 0px;
					}
				}
			}
		}
	}

	#section-intro-text {
		height: 40vh;

		background: #eee;

		color: #222;
		padding-top: 10px;

		text-align: center;

		h1 {
			font-size: 75px;
			font-weight: 100;
			text-transform: uppercase;

			.green {
				color: green;
			}

		}

		h2 {
			color: #ccc;
			font-weight: 100;
			font-style: italic;
		}

		p {
			margin-top: 20px;
			font-size: 25px;
			font-weight: 300;
		}

		.down {
			span {
				color: #000;
			}
		}

		@media (max-width: $smallMediaSize) {
			height: 45vh;
			h1 {
				font-size: 35px;
			}
			h2 {
				font-size: 20px;
			}

			p {
				font-size: 15px;
				padding: 0px;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 0px;
			}

		}

	}

	#section-problem {
		height: 100vh;
		padding: 50px;

		padding-top: 70px;

		background-attachment: scroll;
		background-image: url(../../img/background/lstn-bg.jpg);
		background-position: center center;
		background-repeat: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;

		color: #fff;

		h1 {
			font-size: 40px;
			font-weight: 300;
			text-transform: uppercase;
		}

		p {
			font-size: 20px;
			font-weight: 300;
		}

		@media (max-width: $smallMediaSize) {
			padding: 10px;
			padding-top: 0px;
			h1 {
				font-size: 30px;
			}

			p {
				font-size: 18px;
			}
		}


	}

	#section-solution {

		height: 100vh;
		padding: 50px;

		padding-top: 70px;

		background-attachment: scroll;
		background-image: url(../../img/background/yellow-bg.jpg);
		background-position: center center;
		background-repeat: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;

		color: #fff;

		h1 {
			font-size: 45px;
			font-weight: 300;
			text-transform: uppercase;
		}

		p {
			font-size: 20px;
			font-weight: 300;
		}

		@media (max-width: $smallMediaSize) {
			padding: 10px;
			padding-top: 0px;
			h1 {
				font-size: 30px;
			}

			p {
				font-size: 18px;
			}
		}

	}

	#section-change {
		height: 100vh;
		padding: 50px;

		padding-top: 20px;

		background-attachment: scroll;
		background-image: url(../../img/background/soulbottle-bg.jpg);
		background-position: center center;
		background-repeat: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;

		color: #fff;

		.down {
			margin-top: 310px;
		}

		h1 {
			font-size: 70px;
			text-align: center;
			font-weight: 100;
			margin-bottom: 50px;
				
			text-transform: uppercase;

			text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
		}

		@media (max-width: $smallMediaSize) {
			padding: 10px;
			height: 110vh;
			h1 {
				font-size: 30px;

				margin-bottom: 20px;

			}
		}

		.icon-container {
			width: 960px;
			display: block;
			margin-left: auto;
			margin-right: auto;

			@media (max-width: $smallMediaSize) {
				width: 100%;
			}

			.icon {
				width: 220px;
				height: 220px;
				
				cursor: pointer;

				float: left;

				margin-left: 50px;
				margin-right: 50px;

				padding: 20px;

				padding-top: 50px;

				text-align: center;
				color: #fff;

				background: rgba(0,0,0,0.7);
			
				span {
					font-size: 90px;
				}

				p {
					font-size: 18px;
					font-weight: 300;
					text-transform: uppercase;

					margin-top: 10px;
				}

				@media (max-width: $smallMediaSize) {
					width: 90%;
					height: 80px;

					margin: 5px;
					margin-right: 5%;
					margin-left: 5%;
					margin-bottom: 10px;

					padding: 20px;
					padding-top: 10px;

					float: center;

					span {
						font-size: 30px;
					}

					p {
						font-size: 15px;
					}
				}
			}
		}

	}

	#section-supporters {

		height: 100vh;
		padding: 50px;

		padding-top: 70px;

		background-attachment: scroll;
		background-image: url(../../img/background/trondheim-bw.jpg);
		background-position: center center;
		background-repeat: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;

		h1 {
			font-size: 70px;
			text-align: center;
			font-weight: 100;
			margin-bottom: 70px;

			text-transform: uppercase;

			color: #fff;

			text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
		}

		@media (max-width: $smallMediaSize) {
			padding: 10px;
			padding-top: 10px;

			h1 {
				font-size: 20px;
				margin-bottom: 20px;
			}
		}

		.down {
			margin-top: 320px;
		}

		.product-wrap {
				display: block;
				margin-left: auto;
				margin-right: auto;

				width: 960px;

				@media (max-width: $smallMediaSize) {
					width: 280px;
				}
			.product {
				width: 200px;
				height: 200px;

				box-shadow: 3px 3px 10px rgba(0,0,0,0.5);

				opacity: 1;

				cursor: pointer;

				margin: 20px;

				display: inline-block;
				background-position: center center;
				background-size: cover;

				float: left;

				&:hover {
					border: 3px solid white;
				}

				-moz-transition: all 100ms ease;
				-webkit-transition: all 100ms ease;
				-o-transition: all 100ms ease;
				transition: all 100ms ease;

				img {
					width: 100%;
				}

				@media (max-width: $smallMediaSize) {
					width: 100px;
					height: 100px;
				}
			}
		}
	}

	#section-press {
		position: relative;
		width: 100%;
		height: 55vh;
		padding: 50px;

		padding-top: 30px;

		box-shadow: 3px 20px 20px rgba(0,0,0,0.5);


		background-attachment: scroll;
		background-image: url(../../img/background/newspapers.jpg);
		background-position: center center;
		background-repeat: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;

		.press-wrap {

			width: 818px;
			display: block;
			margin-left: auto;
			margin-right: auto;

			.press {
				width: auto;
				height: 250px;
				float: left;

				box-shadow: 3px 3px 10px rgba(0,0,0,0.5);

				margin: 20px;
				margin-right: 40px;
				margin-left: 40px;

				img {
					height: 100%;
				}
			}
		}

		@media (max-width: $smallMediaSize) {
			padding: 10px;

			.press-wrap {
				
				padding-top: 70px;

				width: 336px;

				.press {
					height: 120px;
					margin: 5px;
				}
			}
		}
	}

	#section-press-text {
		height: 50vh;
		padding: 50px;
		
		border: 0px;
		padding-top: 30px;

		background: #222;

		color: #fff;
		font-size: 70px;
		font-weight: 300;
		text-align: center;

		.big {
			font-size: 100px;
		}

		@media (max-width: $smallMediaSize) {
			font-size: 40px;

			.big {
				font-size: 60px;
			}
		}
	}
}

.fullbox {
	position:absolute;
	top: 20px;

	background:white; 
	border-top: 0; 
	width: 80%;
	margin: 0 auto;
	margin-left: 10%;
	margin-right: 10%;
	padding:  50px;
	text-align: left;

	box-shadow: 5px 5px 5px #bbb;

	.infoimage {
		padding-top: 100px;
		img {
			width: 100%;
			box-shadow: 2px 2px 2px #bbb;
		}
	}

	.infotext {
		padding-top: 80px;

		p {
			font-size: 20px;
			font-weight: 300;
			line-height: 40px;

			text-align: justify;
			text-justify: inter-word;
		}
	}

	.vbIconWrapper {
		position: relative;

		width: 305px;
		height: 305px;

		margin-top: 100px;
		margin-bottom: 100px;

		-ms-transform: rotate(45deg); /* IE 9 */
		-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
		transform: rotate(45deg);

		.vbIcon {
			position: absolute;
			width: 305px;
			height: 305px;
			border: 10px solid black;

			z-index: 200;

			background: #fff;
		}

		.one {
			position: absolute;
			top: -75px;
			left: 0px;
			width: 155px;
			height: 155px;
			z-index: 1;
			border: 10px solid black;

			border-radius: 100%;

			cursor: pointer;

			&:hover {
				background: $green;
			}
		}

		.two {
			position: absolute;
			top: -75px;
			left: 150px;
			width: 155px;
			height: 155px;
			z-index: 1;
			border: 10px solid black;

			border-radius: 100%;

			cursor: pointer;

			&:hover {
				background: $green;
			}
		}

		.three {
			position: absolute;
			top: 0px;
			right: -75px;
			width: 155px;
			height: 155px;
			z-index: 1;
			border: 10px solid black;

			border-radius: 100%;

			cursor: pointer;

			&:hover {
				background: $green;
			}
		}

		.four {
			position: absolute;
			top: 150px;
			right: -75px;
			width: 155px;
			height: 155px;
			z-index: 1;
			border: 10px solid black;

			border-radius: 100%;

			cursor: pointer;

			&:hover {
				background: $green;
			}
		}

		.five {
			position: absolute;
			top: 220px;
			right: 0px;
			width: 155px;
			height: 155px;
			z-index: 1;
			border: 10px solid black;

			border-radius: 100%;

			cursor: pointer;

			&:hover {
				background: $green;
			}
		}

		.six {
			position: absolute;
			top: 220px;
			right: 150px;
			width: 155px;
			height: 155px;
			z-index: 1;
			border: 10px solid black;

			border-radius: 100%;

			cursor: pointer;

			&:hover {
				background: $green;
			}
		}

		.seven {
			position: absolute;
			top: 150px;
			left: -75px;
			width: 155px;
			height: 155px;
			z-index: 1;
			border: 10px solid black;

			border-radius: 100%;

			cursor: pointer;

			&:hover {
				background: $green;
			}
		}

		.eigth {
			position: absolute;
			top: 0px;
			left: -75px;
			width: 155px;
			height: 155px;
			z-index: 1;
			border: 10px solid black;

			border-radius: 100%;

			cursor: pointer;

			&:hover {
				background: $green;
			}
		}
	}

}




