@import 'variables';

html, body {
    max-width: 100%;
    overflow-x: hidden;

    font-family: $lato;
}

footer {
  position: relative;
  z-index: 1;
  padding: 30px;
  background: #222;

  p {
    font-size: 15px;  
    text-align: center;
    color: #ddd;
    margin: 0;
    font-weight: 100;
  }
}

.popover {
  z-index: 1000;
  color: #333;

  background: #fff;
  border-radius: 0;
  border: 0;
}

#section-testemonial {
  background: #222;
  color: #aaa;

  padding: 20px;

  width: 100%;

  h1 {
    text-align: center;
    font-style: italic;
    font-size: 25px;
    font-weight: 100;
  }

  p {
    font-weight: 100;
  }

  @media (max-width: $smallMediaSize) {
    h1 {
      font-size: 15px;
    }
  }
}

#app-home-navbar {

  .navbar {
    margin-bottom: 0;
  }

  .navbar-default {
      background: $bgDefault;
      border-color: $bgHighlight;
      //background: rgba(0,0,0,0.1);
      //border-color: rgba(0,0,0,0);
      border-radius: 0;

      -moz-transition: all 200ms ease;
      -webkit-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;

      max-height: 500px;

      display: block;
      margin-left: auto;
      margin-right: auto;

      padding-right: 80px;

      @media (max-width: $smallMediaSize) {
        width: 100%;
        height: auto;
        padding-right: 10px; 
      }

      .navbar-brand {
          width: auto;

          h5 {
            float: left;
            padding-top: 18px;
            font-size: 35px;
            color: #000;
            font-weight: 300;
            text-align: center;
          }

          img {
            float: left;
            width: 200px;

            -moz-transition: all 200ms ease;
            -webkit-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
          }

          @media (max-width: $smallMediaSize) {
            width: 100px;
            padding-top: 10px;
            img {
              width: 150px;
            }
            h5 {
              font-size: 15px;
            }
          }
      }

      .navbar-nav {
          > li {
              > a {
                font-size: 18px;

                line-height: 80px;
                height: 70px;
                padding-top: 0px;
                padding-bottom: 4px;
                padding-right: 30px;
                color: $colDefault;
                font-weight: 300;
                letter-spacing: 1px;

                text-transform: uppercase;

                -moz-transition: all 200ms ease;
                -webkit-transition: all 200ms ease;
                -o-transition: all 200ms ease;
                transition: all 200ms ease;

                &:hover, &:focus {
                  color: $colHover;
                }

                span {
                  font-size: 24px;
                }

                @media (max-width: $smallMediaSize) {
                  padding-top:10px;
                  padding-bottom: 10px;
                }
              }
          }

          .active {
              > a, > a:hover, > a:focus {
                  color: $colHover;
                  background: $bgHighlight;
                  box-shadow: none;

                  font-weight: 600;
              }
          }

          .open {
              > a, > a:hover, > a:focus {
                  color: $colHover;
                  background: $bgHighlight;
                  .caret {
                      border-top-color: $colHover;
                      border-bottom-color: $colHover;
                  }
              }
          }

          > .dropdown {
              > a {
                  .caret {
                      border-top-color: $colDefault;
                      border-bottom-color: $colDefault;
                  }

                  &:hover, &:focus {
                      .caret {
                          border-top-color: $colHover;
                          border-bottom-color: $colHover;
                      }
                  }
              }
          }
      }

      .navbar-center {
        li {
          a {
            font-size: 10px;
            text-align: center;
            padding: 10px;
          }
        }
      }

      .navbar-toggle {
          border-color: $bgHighlight;
          &:hover, &:focus {
              background: $bgHighlight;
          }
          .icon-bar {
              background: $colDefault;
          }
      }
  }

  @media (max-width: $smallMediaSize) {
      .navbar-default .navbar-nav .open .dropdown-menu > li > a {
          color: $colDefault;
          &:hover, &:focus {
              color: $colHover;
              background: $bgHighlight;
          }
      }
  }
}

.introBox {
  width: 100%;

  margin-top: 50px;

  padding: 20px;

  background: #fff;
  box-shadow: 3px 3px 3px #bbb;

  img {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 35px;
    
    padding: 40px;
  }
}