@font-face {
	font-family: 'icomoon';
	src:url('/static/fonts/icomoon.eot?yvrus0');
	src:url('/static/fonts/icomoon.eot?#iefixyvrus0') format('embedded-opentype'),
		url('/static/fonts/icomoon.woff?yvrus0') format('woff'),
		url('/static/fonts/icomoon.ttf?yvrus0') format('truetype'),
		url('/static/fonts/icomoon.svg?yvrus0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}