@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic);

/* Section colors */

$firstSection : rgb(216, 184, 90);
$secondSection: rgb(242, 205, 61);
$thirdSection : rgb(243, 223, 60);
$fourthSection: rgb(255, 244, 89);


$lightSection : #ddd;
$darkSection  : #666;

/* Small media screen */

$smallMediaSize : 768px;
$mediumMediaSize: 1250px;

/* Fonts */
$openSans : 'Open Sans Light', sans-serif;
$brandon  : 'brandon', sans-serif;
$lato	  : 'Lato', sans-serif;

/* Nav color */
$bgDefault      : #FFF;
$bgHighlight    : #FFF;
$colDefault     : #000000;
$colHover       : rgb(216, 184, 90);

/* colors */
$green  :   linear-gradient(to bottom, #2D8962 0%,#277554 100%);
$orange :   linear-gradient(to bottom, #C77D42 0%,#AA6B39 100%);
$lightGreen : rgba(42, 127, 91, 0.2);
$lightOrange: rgba(184, 116, 62, 0.2);


//Company
$secondSection: rgb(247, 247, 247);

@mixin smoothBackgroundShift() {
	-webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

@mixin setTrans($type: all, $duration: 500ms) {
	-webkit-transition: $type $duration linear;
    -moz-transition: $type $duration linear;
    -o-transition: $type $duration linear;
    -ms-transition: $type $duration linear;
    transition: $type $duration linear;
}