Django==1.7
Pillow==4.0.0
dj-database-url==0.4.2
django-appconf==0.6
django-ckeditor==5.2.1
django-compressor==1.4
django-libsass==0.2
gunicorn==19.7.0
libsass==0.5.1
olefile==0.44
six==1.10.0
whitenoise==3.3.0
wsgiref==0.1.2
