{% load staticfiles %}
{% load compress %}
{% load css_folder %}
<!Doctype HTML>
<html>
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<title>{% block title %}Velg Bedre{% endblock title %}</title>

			<!-- iPhone app setup-->
        	<meta name="apple-mobile-web-app-capable" content="yes">
        	<meta name="apple-mobile-web-app-status-bar-style" content="grey">

			<link rel="icon" type="image/png" href="{% static 'img/icons/vb_liten.png' %}" sizes="32x32">

			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

			<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

			<!-- Fonts -->
			<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

			{% compress css %}
				{% load_scss %}
			{% endcompress %}

		{% endblock head %}
	</head>

	<body id="testfront">
		{% block content %}{% endblock content %}

		<footer>
			<p>Made with love by <strong>Valdemar Edvard Sandal Rolfsen</strong></p>
		</footer>
		
		<!-- JAVASCRIPT -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<!-- Chart -->
		<script src="{% static 'js/chart.js' %}"></script>
		<script src="{% static 'js/chartLogic.js' %}"></script>
		<script src = "{% static 'js/scrolling.js' %}"></script>
		<script src = "{% static 'js/countdown.js' %}"></script>
		<script src = "{% static 'js/sweetalert-dev.js' %}"></script>
		<script src="{% static 'js/company_service.js' %}"></script>

		{% block extraJS %}
		{% endblock extraJS %}
	</body>
</html>