{% extends 'company_main.html' %}
{% load staticfiles %}
{% block content %}
<div id = "company_service-frontpage">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000000000">
		<!-- Indicators -->
		<ol class="carousel-indicators" id="carousel-indicators">
			{% for product in products %}
				{% if forloop.first %}
					<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active" style = "background-image: url({{product.small_photo.url}});"></li>
				{% else %}
					<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" style = "background-image: url({{product.small_photo.url}});"></li>
				{% endif %}
			{% endfor %}
		</ol>

	  <!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			{% for product in products %}
				{% if forloop.first %}
					<div class="item active">
						<section id = "section-intro-image" style = "background-image: url({{product.background.url}});">
							<h1>{{product.name}}</h1>
						</section>
					</div>
				{% else %}
					<div class="item">
						<section id = "section-intro-image" style = "background-image: url({{product.background.url}});">
							<h1>{{product.name}}</h1>
						</section>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" id = "carousel-left" >
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" id = "carousel-right">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<section id ="section-product">
		{% for product in products %}
			<div id = "product{{ forloop.counter0 }}" data-productid = "{{ product.id }}">
				<div class="first-part">
					{% for type in product.get_types %}
						<div class="product-picture" id="product-picture{{type.id}}" style = "background-image: url({{type.product_photo.url}});"></div>
					{% endfor %}
					<div class="content">
						<p class="big"><strong>{{product.small_description}}</strong></p>
						<p>{{product.first_description}}</p>
						<div class="bullet-points">
							<ul>
								<li>{{product.first_bullet}}</li>
								<li>{{product.second_bullet}}</li>
								<li>{{product.third_bullet}}</li>
							</ul>
						</div>
					</div>
					<div class="other-info">
						<div class = "picture-container">
							<h1>Flere bilder</h1>
							{% for image in product.get_images %}
								<div class = "picture" style="background-image: url({{image}});" data-picture = "{{forloop.counter0}}"></div>
							{% endfor %}
						</div>
						<div class="info-container">
							<p>Type:</p>
							<select name="productTypes" class="productTypes" id="productTypes{{forloop.counter0}}">
								{% for type in product.get_types %}
									<option value="{{ type.id }}">{{type.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="global-button left add-product">
							<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
							<p>Legg til i Ønskeliste</p>
						</div>
						<a href="/company/wishlist/">
							<div class="global-button right">
								<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
								<p>Gå til ønskeliste</p>
							</div>
						</a>
					</div>
				</div>
				<div class="second-part">
						<div class="row">
							<div class="col-md-12">
								<h1>Mer informasjon</h1>
								<a href="#second-part{{forloop.counter0}}" class="page-scroll"><span class="icon-arrow-down" aria-hidden="true"></span></a>
							</div>
						</div>
				</div>
				<div class="third-part" id="second-part{{forloop.counter0}}">
					<div class="center-box">
						<h1>{{product.name}}</h1>
						<p>
							{{product.second_description}}
						</p>
					</div>
					<div class="small-content-box">
						<img src="{% static 'img/icons/company_service/bottomline-icons/sysselsetting.svg' %}" alt="">
						<h2>SYSSELSETTING</h2>
						<p>
							{{product.employment}}
						</p>
					</div>
					<div class="small-content-box">
						<img src="{% static 'img/icons/company_service/bottomline-icons/lonnsforhold.svg' %}" alt="">
						<h2>LØNNSFORHOLD</h2>
						<p>
							{{product.wages}}
						</p>
					</div>
					<div class="small-content-box">
						<img src="{% static 'img/icons/company_service/bottomline-icons/materialvalg.svg' %}" alt="">
						<h2>MATERIALVALG</h2>
						<p>
							{{product.material_selection}}
						</p>
					</div>
					<div class="small-content-box">
						<img src="{% static 'img/icons/company_service/bottomline-icons/lokasjon.svg' %}" alt="">
						<h2>LOKASJONS</h2>
						<p>
							{{product.location}}
						</p>
					</div>
					<div class="small-content-box">
						<img src="{% static 'img/icons/company_service/bottomline-icons/okonomisk_fordeling.svg' %}" alt="">
						<h2>ØKONOMISK FORDELING</h2>
						<p>
							{{product.economic_distribution}}
						</p>
					</div>
					<div class="small-content-box">
						<img src="{% static 'img/icons/company_service/bottomline-icons/miljopovirking.svg' %}" alt="">
						<h2>MILJØPÅVIRKNING</h2>
						<p>
							{{product.environmental_impact}}
						</p>
					</div>
					<div class="small-content-box">
						<img src="{% static 'img/icons/company_service/bottomline-icons/samarbeid.svg' %}" alt="">
						<h2>SAMARBEID</h2>
						<p>
							{{product.cooperation}}
						</p>
					</div>
					<div class="small-content-box">
						<img src="{% static 'img/icons/company_service/bottomline-icons/eierskap.svg' %}" alt="">
						<h2>EIERSKAP</h2>
						<p>
							{{product.ownership}}
						</p>
					</div>
					<div class="small-content-box">
						<img src="{% static 'img/icons/company_service/bottomline-icons/sertifisering.svg' %}" alt="">
						<h2>SERTIFISERING</h2>
						<p>
							{{product.certification}}
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
	<section id = "section-testemonial">
		<h1>
			"Velg Bedre gjorde det enkelt å velge gaver til de ansatte rundt juletider. Spørsmål underveis ble raskt besvart. Julegavene ble levert ferdig innpakket med flotte kort - og jeg satt igjen med følelsen av å ha spart tid OG tatt et bedre valg!"
		</h1>
		<p>- Gry Tørresdal, Koordinator Infotech</p>
	</section>
	{% for product in products %}
	<div class = "picture-slider" id = "picture-slider{{forloop.counter0}}">
		<div class= "slider-outer">
			<div class= "slider-inner">
				<div class= "close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</div>
				<div id="picture-carousel{{forloop.counter0}}" class="carousel slide" data-ride="carousel" data-interval="1000000">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						{% for image in product.get_images %}
							{% if forloop.first %}
								<li data-target="#picture-carousel{{forloop.parentloop.counter0}}" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
							{% else %}
								<li data-target="#picture-carousel{{forloop.parentloop.counter0}}" data-slide-to="{{ forloop.counter0 }}"></li>
							{% endif %}
						{% endfor %}
					</ol>

				  <!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						{% for image in product.get_images %}
							{% if forloop.first %}
								<div class="item picture{{forloop.counter0}} active">
									<section id = "section-intro-image" style = "background-image: url({{image}});"></section>
								</div>
							{% else %}
								<div class="item picture{{forloop.counter0}}">
									<section id = "section-intro-image" style = "background-image: url({{image}});"></section>
								</div>
							{% endif %}
						{% endfor %}
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#picture-carousel{{forloop.counter0}}" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#picture-carousel{{forloop.counter0}}" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div id="intro-message">
	<div class="message">
		<div class= "close" id="intro-close">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</div>
		<div id="intro" class="carousel slide" data-ride="carousel" data-interval="1000000">
			<!-- Indicators -->
			<ol class="carousel-indicators">	
				<li data-target="#intro" data-slide-to="0" class="active"></li>
				<li data-target="#intro" data-slide-to="1"></li>
			</ol>

		  <!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>Velg bedre</h1>
								<p>
									Innledende setning som setter brukeren i kontekst og gir dem en fortsåelse av hva de nettopp har klikket seg inn på.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<h1>Trippel bunnlinje</h1>
								<p>
									Velg Bedre forteller deg hvordan effekten av hvert produkt er med på å skape en bærekraftig fremtid, og vi deler denne effekten opp i tre kategorier:
								</p>
							</div>
							<div class="col-md-3">
								<img src="{% static 'img/icons/company_service/intro/triple-bottom-line.png' %}" alt="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h2>Sosial Effekt</h2>
								<div class="image-container">
									<img src="{% static 'img/icons/company_service/bottomline-icons/sysselsetting.svg' %}" alt="">
								</div>
								<h3>Sysselsetting</h3>
								<div class="image-container">
									<img src="{% static 'img/icons/company_service/bottomline-icons/lokasjon.svg' %}" alt="">
								</div>
								<h3>Lokasjon</h3>
								<div class="image-container">
									<img src="{% static 'img/icons/company_service/bottomline-icons/samarbeid.svg' %}" alt="">
								</div>
								<h3>Samarbeid</h3>
							</div>
							<div class="col-md-4">
								<h2>Økonomisk Effekt</h2>
								<div class="image-container">
									<img src="{% static 'img/icons/company_service/bottomline-icons/lonnsforhold.svg' %}" alt="">
								</div>
								<h3>Lønnsforhold</h3>
								<div class="image-container">
									<img src="{% static 'img/icons/company_service/bottomline-icons/okonomisk_fordeling.svg' %}" alt="">
								</div>
								<h3>Økonomisk fordeling</h3>
								<div class="image-container">
									<img src="{% static 'img/icons/company_service/bottomline-icons/eierskap.svg' %}" alt="">
								</div>
								<h3>Eierskap</h3>
							</div>
							<div class="col-md-4">
								<h2>Miljøeffekt</h2>
								<div class="image-container">
									<img src="{% static 'img/icons/company_service/bottomline-icons/materialvalg.svg' %}" alt="">
								</div>
								<h3>Materialvalg</h3>
								<div class="image-container">
									<img src="{% static 'img/icons/company_service/bottomline-icons/miljopovirking.svg' %}" alt="">
								</div>
								<h3>Miljøpåvirking</h3>
								<div class="image-container">
									<img src="{% static 'img/icons/company_service/bottomline-icons/sertifisering.svg' %}" alt="">
								</div>
								<h3>Sertifisering</h3>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#intro" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#intro" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>
{% csrf_token %}

{% endblock content %}

{% block extraJS %}
<script>
   var numProducts = Number({{numProducts}});

   var wishlist = [];

   {% for wish in wishlist %}
   		wishlist.push({
   			'product':{{wish.product}},
   			'type':{{wish.type}}
   		});	
   {% endfor %}
</script>
<script src="{% static 'js/company_service.js' %}"></script>
{% endblock extraJS %}