{% extends 'company_main.html' %}
{% load staticfiles %}
{% block content %}
	<div id="company_service-intro" style="background-image: url('{{company.background.url}}');">
		<div class="cover"></div>
		
		<div class="logo">
			<img src="{{company.logo.url}}" alt="">
		</div>
		<div class="intro">
			<h1>Takk for jobben du gjør!</h1>
			<p>
				{{company.greeting}}
			</p>
		</div>
		<div class="register">
			<form action="" method="post">{% csrf_token %}
				{{userForm.firstname}}
				{{userForm.lastname}}
				{{userForm.email}}
				<button type="submit">Register</button>
			</form>
		</div>
	</div>
{% endblock content %}