{% extends 'company_main.html' %}
{% load staticfiles %}
{% block content %}
	<div id = "company_service-wishlist" style="background-image: url('{% static 'img/background/present.jpg' %}');">
		<div class="add-product" id ="save-wishlist">
			<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
			<p>Lagre ønskeliste</p>
		</div>
		<div class="intro">
			<h1>På tide å ta et valg</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis ex sit amet nisl commodo condimentum. Sed bibendum mattis dignissim. Curabitur neque dolor, elementum vitae convallis at, mollis ac nisl. Suspendisse potenti. Curabitur euismod sem eu purus dapibus pulvinar. Vivamus leo elit, egestas vitae nisl sit amet, facilisis venenatis dui.
			</p>
		</div>
		<div class="wishlist">
			<ul class="top-three" id="sortable">
				{% for wish in wishlist %}
				  <li id = "{{wish.product.id}}" class="ui-state-default wishlist-product">
				  	<div class="wishlist-product-image" style="background-image: url('{{ wish.product.background.url}}');"></div>
					<div class="wishlist-product-text">
						<p>{{wish.product.name}}</p>
					</div>
				  </li>
				{% endfor %}
			</ul>
			<div class="rest">
				
			</div>
		</div>
	</div>
{% endblock content %}

{% block extraJS %}

<script>
$(function() {
	$( "#sortable" ).sortable();
	$( "#sortable" ).disableSelection();

	$('#save-wishlist').click(function() {
		var sortedIDs = $("#sortable").sortable("toArray");
		console.log(sortedIDs);
		saveWishlist(sortedIDs);
	})
});
</script>
{% endblock extraJS %}