{% extends 'company_main.html' %}
{% load staticfiles %}
{% block content %}
	<div id = "company_service-wishlist" style="background-image: url('{{company.background.url}}');">
		<div class="cover"></div>
		<div class="global-button right" id ="send-wishlist">
			<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
			<p>Send inn ønskeliste</p>
		</div>
		<a href="/company/frontpage/">
			<div class="global-button left">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
				<p>Tilbake</p>
			</div>
		</a>
		<div class="intro">
			<h1>På tide å ta et valg</h1>
			<p>
				Her kan du prioritere din egen ønskeliste ved å dra produktene i den rekkefølgen du selv vil, men det er produktet på førsteplass du vil få tilsendt hjem til deg. Når du er fornøyd sender du inn ditt endelige valg ved å trykke på knappen nede i høyre hjørne.
			</p>
		</div>
		<div class="wishlist">
			<div class="rankings">
				{% for wish in wishlist %}
				<div class="ranking">{{forloop.counter}}</div>
				{% endfor %}
			</div>
			<ul class="top-three" id="sortable">
				{% for wish in wishlist %}
					<li id = "{{wish.id}}" class="ui-state-default wishlist-product">
						<div class="wishlist-product-image" style="background-image: url('{{ wish.product.background.url}}');"></div>
					<div class="wishlist-product-text">
						<p>{{wish.product.name}}</p>
						<span class="glyphicon glyphicon-move" aria-hidden="true"></span>
					</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock content %}

{% block extraJS %}
	<script src="{% static 'js/wishlist.js' %}"></script>
{% endblock extraJS %}