{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
	<div id = "app-about">
		<section id = "section-intro-image">
			<h1>om <strong class= "big">vår</strong> organisasjon</h1>
		</section>
		<section id = "section-intro-text">
			<h1>Velg bedre</h1>
			<p>
				Velg Bedre hjelper bedrifter å foreta bærekraftige innkjøp til sin arbeidsplass. Vi knytter sammen produsenter, organisasjoner og mennesker som ønsker å gjøre en forskjell i verden og gjør det lettere å velge produkter som er produsert under etiske vilkår og har et miljøvennlig og bærekraftig livsløp.
			</p>
			<p>
				Vi i Velg Bedre mener at flere positive bidrag vil dra verden i en bærekraftig retning. Vår visjon er å gjøre handel til en positiv kraft. Handel der miljø- og sosiale verdier blir ivaretatt samtidig som det skapes verdi for næringliv og samfunn.
			</p>
			<video controls class="intro-video">
				<source src="{% static 'video/velgefilm.mp4' %}">
				<source src="{% static 'video/velgefilm.webm' %}" type="video/webm">
				<source src="{% static 'video/velgefilm.mp4' %}" type="video/mp4">
			</video>
		</section>
		<section id = "section-members">
			<div class = "container">
				<div class = "row">
					<div class = "col-md-4">
						<div class = "member">
							<img src="{% static 'img/members/haakon.jpg' %}" class = "img-circle" alt="">
							<div class = "info">
								<h3>Håkon Weløy Aarseth</h3>
								<p>
									Aarseth er en verdidrevet leder med tidligere økonomiutdannelse fra NHH, internasjonal ledelse fra CBS og en pågående sivilingeniørgrad innenfor Industriell Økonomi og Teknologiledelse ved NTNU. Håkon har ledelseserfaring fra UKA-13, hvor han han var ansvarlig for en gruppe på 53 frivillige som arrangerte over 80 arrangement i løpet av festivalen. Håkon er ambassadør for NTNU Effektiv Altruisme og brenner for ta gode valg i hverdagen.
								</p>
							</div>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "member">
							<img src="{% static 'img/members/snorre.jpg' %}" class = "img-circle" alt="">
							<div class = "info">
								<h3>Snorre Paulsen</h3>
								<p>
									Snorre brenner for entreprenørskap, og har god erfaring fra arbeid med grønn kommunikasjon i Tyskland, samt stor kunnskap om kundebehov og oppstartsbedrifter. Tilsammen gir dette et internasjonalt syn på bærekraft, utvikling og konkurranse. Han har samarbeidet mye med aktører som fokuserer på sosialt ansvar og innovasjon. Snorre er sentral i utviklingen av Velg Bedre's forståelse av markedet og er teamets viktigste relasjonsbygger.
								</p>
							</div>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "member">
							<img src="{% static 'img/members/aasmund.jpg' %}" class = "img-circle" alt="">
							<div class = "info">
								<h3>Åsmund Heir</h3>
								<p>
									Åsmund studerer marin teknikk, og er interessert i business, markedsføring og kommunikasjon. Interesse for samfunnsansvar startet på Young Ambassadors; et utviklingsprogram innenfor næringsliv og samfunnsansvar for talentfulle videregåendeelever, av Den Amerikanske Ambassaden med McKinsey, BA-HR, First House og Google. Åsmund har engasjement som prosjektarbeider og prosjektleder i Start NTNU.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-4">
						<div class = "member">
							<img src="{% static 'img/members/helene.jpg' %}" class = "img-circle" alt="">
							<div class = "info">
								<h3>Helene Irgens Hov</h3>
								<p>
									Helene er engasjert der samfunn,teknologi, innovasjon og politikk møtes. I styrearbeid i Tekna Student, drev hun politisk påvirkning for å løse samfunnets utfordringer med teknologifag, internasjonalisering og tverrfaglig samarbeid med industriaktører.Bred erfaring fra blandt annet markedsføring og HMS (master i miljøledelse vår 2016), gir effektive verktøy for å innlemme hensyn til mennesker og miljø i bedrifter.
								</p>
							</div>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "member">
							<img src="{% static 'img/members/teodor.jpg' %}" class = "img-circle" alt="">
							<div class = "info">
								<h3>Teodor Nilseng Danielsen</h3>
								<p>
									Teodor med erfaring innen industriell økonomi, programmering og optimering fra NTNU, og økonomi fra DNB, er en verdifull bidragsyter for å lage konkurransedyktige systemer for blandt annet logistikk i Velg Bedre. I tillegg har han ledelseserfaring som studentassistent, konkurranseinnstilling fra sport, og stor interesse for verdiskapning gjennom entreprenørskap.
								</p>
							</div>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "member">
							<img src="{% static 'img/members/valdemar.jpg' %}" class = "img-circle" alt="">
							<div class = "info">
								<h3>Valdemar Rolfsen</h3>
								<p>
									Rolfsen har gjennom flere IT-prosjekter opparbeidet seg en kompetanse innenfor systemutvikling. Som IT-sjef i Teknologiporten NTNU, webutvikler i ISFiT 2015, intern hos Cisco Systems og CTO for det nyoppstartede selskapet Helping Hands, er han vant med å lede og jobbe med utfordrende prosjekter. Disse aspektene gjør Rolfsen til en viktig ressurs for videre utviklig av selskapet.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock content %}