{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
	<div id = "app-contact">
		<section id = "section-intro-image">
			<h1>ta <strong class = "big">kontakt</strong> med oss</h1>
		</section>
		<section id = "section-intro-text">
			<h1>Kontakt</h1>
			<div class = "container">
				<div class = "row">
					<div class = "col-md-4">
						<span class = "glyphicon glyphicon-envelope" aria-hidden="true"></span>
						<h2>hei@velgbedre.no</h2>
					</div>
					<div class = "col-md-4">
						<span class = "glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						<h2>Pirsenteret, Havnegata 9, 7010 Trondheim</h2>
					</div>
					<div class = "col-md-4">
						<span class = "glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
						<h2>+47 952 77 696</h2>
					</div>
				</div>
			</div>
		</section>
		<section id = "section-testemonial">
			<h1>
				"Velg Bedre gjorde det enkelt å velge gaver til de ansatte rundt juletider. Spørsmål underveis ble raskt besvart. Julegavene ble levert ferdig innpakket med flotte kort - og jeg satt igjen med følelsen av å ha spart tid OG tatt et bedre valg!"
			</h1>
			<p>- Gry Tørresdal, Koordinator Infotech</p>
		</section>
	</div>
{% endblock content %}