{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
	<div id = "app-contact">
		<div class = "container" id = "products">
			<div class = "introBox">
				<img src="{% static 'img/icons/logo_hel.png' %}" alt="">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur pellentesque mauris, nec luctus tellus viverra vel. Nullam sed leo a turpis feugiat malesuada. Phasellus quis aliquam arcu. Phasellus fringilla, tellus at laoreet feugiat, mi lectus elementum est, ac consectetur sem nunc in enim. Curabitur rhoncus ullamcorper dui, placerat accumsan dui lobortis at. Ut ac tortor nec libero mattis hendrerit id in nibh. 
				</p>
			</div>
		</div>
	</div>
{% endblock content %}