{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
	<div id = "app-frontpage-introsite">
		<section id = "section-intro-image">
			<video autoplay loop muted poster="{% static 'img/background/lstn-bg.jpg' %}" id="bgvid">
				<source src="{% static 'video/velgbedre.mp4' %}">
				<source src="{% static 'video/velgbedre.webm' %}" type="video/webm">
				<source src="{% static 'video/velgbedre.mp4' %}" type="video/mp4">
			</video>
			<div class = "filter"></div>
			<div class="frontpage-wrap">
				{% if not email_sent %}
					<div class = "number-wrap" id="number-wrap">
						<div class="number">
							<h1>76</h1>
							<p>produkter</p>
						</div>
						<div class="number">
							<h1>18</h1>
							<p>leverandører</p>
						</div>
						<div class="number">
							<h1>202</h1>
							<p>arbeidsplasser</p>
						</div>
					</div>
				{% else %}
					<div class="frontpage-message">
						<p>Forespørsel om katalog et sendt til en av våre julenisser :)</p>
					</div>
				{% endif%}
				<form class="frontpage-form" id = "frontpage-email" method="post">{% csrf_token %}
					<label for="email">Epost:</label>
					<input type="email" id="email" name="frontpage_email" placeholder="Skriv inn din epost her" required>
					<button type="submit" class="frontpage-button">Send inn</button>
				</form>
				<div class="frontpage-video-cover" id="frontpage-video-cover">
					<video controls class="frontpage-video" id="frontpage-video">
						<source src="{% static 'video/velgbedre.mp4' %}">
						<source src="{% static 'video/velgbedre.webm' %}" type="video/webm">
						<source src="{% static 'video/velgbedre.mp4' %}" type="video/mp4">
					</video>
				</div>
				{% if not email_sent %}
					<button class="frontpage-button" id="frontpage-get-button">Få tilsendt katalog her</button>
					<button class="frontpage-button" id="frontpage-view-button">Se forklaringsvideo her</button>
				{% else %}
					<a href="{% url 'frontpage' %}"><button class="frontpage-button">Tilbake</button></a>
				{% endif%}
			</div>
		</section>
		<section id = "section-intro-text">
			<h1>Velg <strong>bærekraftige</strong> julegaver</h1>
			<div class = "down">
				<a class = "page-scroll" href="#section-problem">
					<span class = "icon-arrow-down" aria-hidden = "true"></span>
				</a>
			</div>
		</section>
		<section id = "section-problem">
			<div class = "row">
				<div class = "col-md-5">
					<h1>Handlekraft</h1>
					<p>
						Samfunnsansvarlige bedrifter har i dag et konkurransefortrinn i næringslivet. Den moderne forbruker stiller høyere og høyere forventninger til hva bedrifter utretter utover å drive virksomhet, men trender i norsk næringsliv viser at over halvparten av norske arbeidstakere ikke oppfatter at sin arbeidsgiver tar aktivt ansvar.
					</p>
					<div class = "down">
						<a class = "page-scroll" href="#section-solution">
							<span class = "icon-arrow-down" aria-hidden = "true"></span>
						</a>
					</div>	
				</div>
			</div>
		</section>
		<section id = "section-solution">
			<div class = "row">
				<div class = "col-md-6">
					<h1>Bærekraftige gaver</h1>
					<p>
						Velg Bedre er en bedriftstjeneste som tilbyr bærekraftige premier og gaver til bedrifter, organisasjoner og konferanser. Vi finner kvalitetsbevisste produsenter fra hele verden og knytter dem til vårt nettverk slik at vi kan levere de beste bærekraftige løsningene. Hver gang du bruker penger, stemmer du på den verdenen du ønsker å leve i.
					</p>	
					<div class = "down">
						<a class = "page-scroll" href="#section-supporters">
							<span class = "icon-arrow-down" aria-hidden = "true"></span>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section id = "section-supporters">
			<h1>våre <strong>inspirerende</strong> løsninger</h1>
			<div class = "product-wrap">
				{% for c in companies %}
					<div id = "{{c.id}}" class = "product" style="background-image: url('{{c.logo.url}}');">
						
					</div>
				{% endfor %}
			</div>
			<div class = "down">
				<a class = "page-scroll" href="#section-change">
					<span class = "icon-arrow-down" aria-hidden = "true"></span>
				</a>
			</div>
		</section>
		<section id = "section-change">
			<h1>du kan <strong>bidra</strong> ved å</h1>
			<div class = "icon-container" target="_blank">
				<a href="https://www.facebook.com/velgbedre?fref=ts" target="_blank">
					<div class = "icon">
						<span class = "glyphicon glyphicon-thumbs-up" aria-hidden = "true"></span>
						<p>Lik oss</p>
					</div>
				</a>

				<div id = "show_letter" class = "icon">
					<span class = "glyphicon glyphicon-user" aria-hidden = "true"></span>
					<p>Tips en kollega</p>
				</div>
				<div id = "join_letter" class = "icon">
					<span class = "glyphicon glyphicon-envelope" aria-hidden = "true"></span>
					<p>Nyhetsbrev</p>
				</div>
			</div>
			<div class = "down">
				<a class = "page-scroll" href="#section-press">
					<span class = "icon-arrow-down" aria-hidden = "true"></span>
				</a>
			</div>
		</section>
		<section id = "section-press">
			<div class = "press-wrap">
				<a href="{% static 'pdf/kapital.pdf' %}" target="_blank">
					<div class = "press"><img src="{% static 'img/press/kapital.jpg' %}" alt=""></div>
				</a>
				<a href="https://www.cultura.no/Pengevirke/Pengevirke-nr-3---2014/Velg-bedre/" target="_blank">
					<div class = "press"><img src="{% static 'img/press/pengevirke.jpg' %}" alt=""></div>
				</a>
				<a href="http://dusken.no/artikkel/24340/velg-bedre/" target="_blank">
					<div class = "press"><img src="{% static 'img/press/dusken.jpg' %}" alt=""></div>
				</a>
			</div>
		</section>
		<section id = "section-press-text">
			presse <strong class = "big">&</strong> media
		</section>
		<div id = "send_letter" class = "letter-wrap">
			<div class = "letter">
				<div class = "text-center">
					<h1>Kjære NAVN</h1>
					<p>
						Velg Bedre er en bedrift som tilbyr bærekraftige innkjøp til bedrifter, og jeg synes vi skal vurdere å kjøpe inn julegaver fra dem i år. Gå inn på www.velgbedre.no for å se hva de tilbyr, eller send en mail til hei@velgbedre.no for å avtale et uforpliktende møte.
					</p>
					<p>Ha en flott dag,</p>
					<p>DITT NAVN</p>
				</div>
				<form action="" method="post">{% csrf_token %}
					<div class = "row">
						<div class = "col-md-6">
							<h4>DITT NAVN:</h4>
							<input type="text" name="name" required>
						</div>
						<div class = "col-md-6">
							<h4>NAVN:</h4>
							<input type="text" name="other_name" required>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-6">
							<h4>Epost til den du vil tipse:</h4>
							<input type="text" name="email" required>
						</div>
						<div class = "col-md-6">
							<button class = "button send" type = "submit">Send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id = "join_newsletter" class = "letter-wrap">
			<div class = "letter">
				<h1>Nyhetsbrev</h1>
				<p>
					Vi i Velg Bedre jobber hver eneste dag med å finne nye bærekraftige løsninger. La deg inspirere ved å abbonnere på vårt nyhetsbrev og hold deg oppdatert på valg som bygger opp under et bærekraftig verdensbilde.
				</p>
				<form action="" method = "post">{% csrf_token %} 
					<div class = "form-holder">
						<h4>Ditt navn:</h4>
						<input type="text" name = "name" required>
					</div>
					<div class = "form-holder">
						<h4>Din epost:</h4>
						<input type="email" name = "email" required>
					</div>
					<button type = "submit" class = "button se-res">Abonner</button>
				</form>
			</div>
		</div>
		{% for c in companies %}
			<div id = "box{{c.id}}" class = "letter-wrap">
				<div class = "letter">
					<h1>{{c.name}}</h1>
					<div class = "row">
						<div class = "col-md-6">
							<img src="{{c.product.url}}" alt="{{c.name}}">
						</div>
						<div class = "col-md-6">
							<p>{{c.description}}</p>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-12 text-center">
							{{c.testemonial}}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}
{% block extraJS %}
<script>
	$(function() {
		$('#frontpage-email').hide();
		$('#frontpage-video-cover').hide();

		$('#frontpage-get-button').click(function() {

			$('#number-wrap').fadeOut();
			$('#frontpage-get-button').fadeOut();
			$('#frontpage-view-button').fadeOut();

			setTimeout(function() {
				$('#frontpage-email').fadeIn();
			}, 700);
		});

		$('#frontpage-view-button').click(function() {
			$('#frontpage-video-cover').fadeIn();
		});

		$('#frontpage-video-cover').on('click', function (e) {
			if (e.target != this)
        		return;

        	$('#frontpage-video-cover').fadeOut();
		});

	});
</script>
{% endblock extraJS %}