{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
	<div id = "app-frontpage-introsite">
		<section id = "section-intro-image">
			<video autoplay loop muted poster="polina.jpg" id="bgvid">
				<source src="{% static 'video/velgbedre.webm' %}" type="video/webm">
				<source src="{% static 'video/velgbedre.mp4' %}" type="video/mov">
			</video>

			<div class = "filter"></div>

			<div class = "number-wrap">
				<div class = "number">
					<h1>2000</h1>
					<p>Mennesker</p>
				</div>
				<div class = "number">
					<h1>8</h1>
					<p>Selskaper</p>
				</div>
				<div class = "number">
					<h1>300</h1>
					<p>Bærekraftige valg</p>
				</div>
			</div>
		</section>
		<section id = "section-intro-text">
			<h1>Hver gang du bruker penger, stemmer <strong class = "big">du</strong> på den verdenen du har lyst til å leve i.</h1>
			<p>Velg Bedre gjør bærekraftige innkjøp enkelt, trykk her</p>
			<div class = "down">
				<a class = "page-scroll" href="#section-problem">
					<span class = "icon-arrow-down" aria-hidden = "true"></span>
				</a>
			</div>
		</section>
		<section id = "section-problem">
			<div class = "row">
				<div class = "col-md-5">
					<h1>Kunsten å velge bedre</h1>
					<p>
						Samfunnsansvarlige bedrifter har i dag et konkurransefortrinn i næringslivet. Den moderne forbruker stiller høyere og høyere forventninger til hva bedrifter utretter utover å drive virksomhet, men trender i norsk næringsliv viser at over halvparten av norske arbeidstakere ikke oppfatter at sin arbeidsgiver tar aktivt ansvar.
					</p>
					<div class = "down">
						<a class = "page-scroll" href="#section-solution">
							<span class = "icon-arrow-down" aria-hidden = "true"></span>
						</a>
					</div>	
				</div>
			</div>
		</section>
		<section id = "section-solution">
			<div class = "row">
				<div class = "col-md-6">
					<h1>Vår tjeneste</h1>
					<p>
						Velg Bedre er en bedriftstjeneste som tilbyr bærekraftige premier og bedriftsgaver til bedrifter, organisasjoner og konferanser. Vi finner kvalitetsbevisste produsenter fra hele verden og knytter dem til vårt nettverk slik at vi kan levere de beste bærekraftige løsningene. Hver gang du bruker penger, stemmer du på den verdenen du ønsker å leve i.
					</p>	
					<div class = "down">
						<a class = "page-scroll" href="#section-change">
							<span class = "icon-arrow-down" aria-hidden = "true"></span>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section id = "section-change">
			<h1>tre <strong class = "big">enkle</strong> steg</h1>
			<div class = "icon-container" target="_blank">
				<a href="https://www.facebook.com/velgbedre?fref=ts" target="_blank">
					<div class = "icon">
						<span class = "glyphicon glyphicon-thumbs-up" aria-hidden = "true"></span>
						<p>Lik oss</p>
					</div>
				</a>

				<div id = "show_letter" class = "icon">
					<span class = "glyphicon glyphicon-user" aria-hidden = "true"></span>
					<p>Tips en kollega</p>
				</div>
				<div id = "join_letter" class = "icon">
					<span class = "glyphicon glyphicon-envelope" aria-hidden = "true"></span>
					<p>Nyhetsbrev</p>
				</div>
				<div class = "down">
					<a class = "page-scroll" href="#section-supporters">
						<span class = "icon-arrow-down" aria-hidden = "true"></span>
					</a>
				</div>
			</div>
		</section>
		<section id = "section-supporters">
			<h1>bedrifter som <strong class = "big">allerede</strong> velger bærekraftig</h1>
			<div class = "product-wrap">
				{% for c in companies %}
					<div class = "product" style="background-image: url('{{c.logo.url}}');">
						<div class = "info">
							<h3>{{c.name}}</h3>
							<p>{{c.description}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class = "down">
				<a class = "page-scroll" href="#section-press">
					<span class = "icon-arrow-down" aria-hidden = "true"></span>
				</a>
			</div>
		</section>
		<section id = "section-press">
			<div class = "press-wrap">
				<div class = "press"><img src="{% static 'img/press/kapital.jpg' %}" alt=""></div>
				<a href="https://www.cultura.no/Pengevirke/Pengevirke-nr-3---2014/Velg-bedre/" target="_blank">
					<div class = "press"><img src="{% static 'img/press/pengevirke.jpg' %}" alt=""></div>
				</a>
				<div class = "press"><img src="{% static 'img/press/dusken.jpg' %}" alt=""></div>
			</div>
		</section>
		<section id = "section-press-text">
			presse <strong class = "big">&</strong> media
		</section>
		<div id = "send_letter" class = "letter-wrap">
			<div class = "letter">
				<div class = "text-center">
					<h1>Kjære NAVN</h1>
					<p>
						Velg Bedre er en bedrift som tilbyr bærekraftige innkjøp til bedrifter, og jeg synes vi i SELSKAP skal vurdere å kjøpe inn julegaver fra dem i år. Gå inn på www.velgbedre.no for å se hva de tilbyr, eller send en mail til hei@velgbedre.no for å avtale et uforpliktende møte.
					</p>
					<p>Ha en flott dag,</p>
					<p>DITT NAVN</p>
				</div>
				<form action="" method="post">{% csrf_token %}
					<div class = "row">
						<div class = "col-md-6">
							<h4>Ditt navn:</h4>
							<input type="text" name="name" required>
						</div>
						<div class = "col-md-6">
							<h4>Navnet på den du vil tipse:</h4>
							<input type="text" name="other_name" required>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-6">
							<h4>Epost til den du vil tipse:</h4>
							<input type="text" name="email" required>
						</div>
						<div class = "col-md-6">
							<button class = "button send" type = "submit">Send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id = "join_newsletter" class = "letter-wrap">
			<div class = "letter">
				<h1>Nyhetsbrev</h1>
				<p>
					Vi i Velg Bedre jobber hver eneste dag med å finne nye bærekraftige løsninger. La deg inspirere ved å abbonnere på vårt nyhetsbrev og hold deg oppdatert på valg som bygger opp under et bærekraftig verdensbilde.
				</p>
				<form action="" method = "post">{% csrf_token %} 
					<div class = "form-holder">
						<h4>Ditt navn:</h4>
						<input type="text" name = "name" required>
					</div>
					<div class = "form-holder">
						<h4>Din epost:</h4>
						<input type="email" name = "email" required>
					</div>
					<button type = "submit" class = "button se-res">Abonner</button>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}