{% load staticfiles %}
{% load compress %}
{% load css_folder %}
<!Doctype HTML>
<html lang="nb">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<title>{% block title %}Velg Bedre{% endblock title %}</title>

			<!-- iPhone app setup-->
        	<meta name="apple-mobile-web-app-capable" content="yes">
        	<meta name="apple-mobile-web-app-status-bar-style" content="grey">

			<link rel="icon" type="image/png" href="{% static 'img/icons/vb_liten.png' %}" sizes="32x32">

			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

			<!-- Fonts -->
			<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

			<link id="snipcart-theme" type="text/css"
			    href="{% static 'css/snipcart.css' %}"
			    rel="stylesheet">

			{% compress css %}
				{% load_scss %}
			{% endcompress %}

		{% endblock head %}

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-48319594-1', 'auto');
			ga('send', 'pageview');

		</script>
	</head>

	<body id="page-top">
		<div id = "app-home-navbar">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'frontpage' %}"><img src="{% static 'img/icons/logo_hel.png' %}" alt=""></a>
				</div>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">

				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'frontpage' %}">Hjem</a></li>
					<li><a href="{% url 'about' %}">Om oss</a></li>
					<li><a href="{% url 'contact' %}">Kontakt</a></li>
					<!--<li><a href="{% url 'packages' %}">Gavekort</a></li>
					<li><a href="#" class="snipcart-checkout"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>-->
				</ul>
			  </div><!-- /.navbar-collapse -->
			</nav>
		</div>

		{% block content %}
		{% endblock content %}

		<footer>
			<p>Made with love by <strong>Velg Bedre AS</strong></p>
		</footer>
		
		<!-- JAVASCRIPT -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- Chart -->
		<script src = "{% static 'js/scrolling.js' %}"></script>
		<script src = "{% static 'js/countdown.js' %}"></script>

		<script type="text/javascript" src="https://cdn.snipcart.com/scripts/snipcart.js" id="snipcart" data-api-key="MGM5YmM4Y2MtYjc4My00OWE1LWJiMTEtZTViMTE2YzhhNjli"></script>

		<script src = "{% static 'js/nb.js' %}"></script>

		{% block extraJS %}
		{% endblock extraJS %}

		<script>
			$(function(){
	            $("a.push").click(function () {
	                $("#" + $(this).attr("id") + ".fullbox").slideToggle("middle");
	                $(function(){
					  $("#first").drawDoughnutChart([
					    { title: "Tokyo",         value : 70,  color: "#2C3E50" },
					    { title: "Berlin",        value : 30,   color: "#FFF" }
					  ]);
					});
	            });
			});
		</script>

		<script>
			$(function() {
				$('#show_letter').click(function() {
					event.stopPropagation();
					$('#send_letter').css({'display':'block'});
				})

				$('#join_letter').click(function() {
					$('#join_newsletter').css({'display':'block'});
					event.stopPropagation();
				})

				$('.letter').click(function() {
					event.stopPropagation();
				})

				$('html').click(function() {
					$('.letter-wrap').css({'display':'none'});
				})

				{% if companies %}
					{% for c in companies %}
						$('#' + {{c.id}}).click(function() {
							$('#box'+{{c.id}}).css({'display':'block'});
							event.stopPropagation();
						})
					{% endfor %}
				{% endif %}

			})
		</script>


	</body>
</html>
