{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
	<div id = "app-packages">
		<div class="cover-photo">
			<div class="cover-photo-cover">
				<h1>Du vet best hva du vil ha</h1>
			</div>
		</div>
		<div class="package-container">
			{% for package in packages %}
				<div class="package-box" style="background-image: url({{ package.image.url }});"> 
					<a class="package-box-cover" data-toggle="modal" data-target="#product{{ forloop.counter }}">
						<h1>{{ package.name }}</h1>
						<h2>Trykk for å gå til pakken</h2>
					</a>
				</div>
			{% endfor %}
		</div>
		{% for package in packages %}
		<div class="modal fade" id="product{{ forloop.counter }}">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<div class="package-section">
							<div class="package-image" style="background-image: url({{ package.image.url }});"></div>
						</div>
						<div class="package-section">
							<div class="package-text">
								<h1>{{ package.name }}</h1>
								<p>{{ package.description }}</p>
								<a href="#"
								    class="snipcart-add-item buy-button"
								    data-item-id="{{package.id}}"
								    data-item-name="{{package.name}}"
								    data-item-price="{{package.price}}"
								    data-item-weight="20"
								    data-item-url="{% url 'packages' %}"
								    data-item-description="Den minste gavepakken"
								    data-dismiss="modal">
								    <button>Kjøp</button>
								</a>
								<button>Ønsk deg</button>
							</div>
						</div>
						<div class="product-section">
							{% for relation in package.get_products %}
							<a href="/product/{{relation.product.id}}">
								<div class="product-image" style="background-image: url({{ relation.product.image.url }});"></div>
							</a>
							{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		{% endfor %}
		<!--
		<div class="panel-group">
			{% for package in packages %}
				<div class="panel panel-package">
					<div class="panel-heading">
						<a data-toggle="collapse" href="#collapse{{ forloop.counter}}">
							<h4 class="panel-title">{{ package.name }}</h4>
						</a>
						<a href="#"
						    class="snipcart-add-item buy-button"
						    data-item-id="{{package.id}}"
						    data-item-name="{{package.name}}"
						    data-item-price="{{package.price}}"
						    data-item-weight="20"
						    data-item-url="{% url 'packages' %}"
						    data-item-description="Den minste gavepakken">
						        Kjøp
						</a>
					</div>
					<div id="collapse{{ forloop.counter}}" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="package-info">
								<h1>{{package.name}}</h1>
								<p>
									{{package.description}}
								</p>
							</div>
							{% for relation in package.get_products %}
								<div class="package-product">
									<div class="package-product-image" style="background-image: url({% static 'img/products/lstn.png' %});"></div>
									<h1>{{relation.product.name}}</h1>
									<p>
										{{relation.product.short_description}}
									</p>
									<a href="{% url 'product' relation.product.id %}" target="_blank"><button>Les mer</button></a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		-->
	</div>
{% endblock content %}