{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
	<div id = "app-packages">
		<div class="cover-photo">
			<div class="cover-photo-cover">
				<span>Gi vekk et inspirerende valg til de du er glad i</span>
			</div>
		</div>
		<div class="package-container">
			<h1>Våre gavekort</h1>
			<p>
				Denne julen kan du gi vekk et inspirerende valg til de du er glad i. Kjøp et valg og få tilsendt et fysisk gavekort som gir mottakeren til å velge den gaven som treffer hjertet. Trykk på pakkene under for å lære mer.
			</p>
			{% for package in packages %}
				<div class="package-box" style="background-image: url({{ package.image.url }});"> 
					<a class="package-box-small-cover" data-toggle="modal" data-target="#product{{ forloop.counter }}">
						<h1>{{ package.name }}</h1>
						<h3>{{ package.price }},-</h3>
						<h2>Trykk for å gå til pakken</h2>
					</a>
					<a class="package-box-cover" data-toggle="modal" data-target="#product{{ forloop.counter }}">
						<h1>{{ package.name }}</h1>
						<h3>{{ package.price }},-</h3>
						<h2>Trykk her for å se produktene</h2>
					</a>
				</div>
			{% endfor %}
		</div>
		{% for package in packages %}
		<div class="modal fade" id="product{{ forloop.counter }}">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<div class="package-section">
							<div class="package-image" style="background-image: url({{ package.image.url }});"></div>
							{% for product in package.get_products %}
								<div id="product{{forloop.parentloop.counter}}{{ forloop.counter }}" class="package-text product-text">
									<div class="package-text-product-image" style="background-image: url({{product.image.url}});">
										<h1>{{product.name}}</h1>
									</div>
									<p class="text-center">{{product.short_description}}</p>
									<a href="/product/{{product.id}}" target="_blank"><button class="center">Les mer</button></a>
								</div>
							{% endfor %}
						</div>
						<div class="package-section">
							<div class="package-text with-border">
								<h1>{{ package.name }}</h1>
								<h2>Pris: {{ package.price }},-</h2>
								<p>{{ package.description }}</p>
								<a href="#"
								    class="snipcart-add-item buy-button package-text-button"
								    data-item-id="{{package.id}}"
								    data-item-name="{{package.name}}"
								    data-item-price="{{package.price}}"
								    data-item-weight="20"
								    data-item-url="{% url 'packages' %}"
								    data-item-description="{{package.description}}">
								    <button>Kjøp pakke</button>
								</a>
								<button class="package-text-button package-text-wish">Ønsk deg</button>
								<form method="POST" class="package-text-form">{% csrf_token %}
									<input class="input-left" type="text" name="from_name" placeholder="Ditt navn" required>
									<input type="text" placeholder="Mottakers navn" name="to_name" required>
									<input class="input-left input-under" type="email" name="to_email" placeholder="Mottakers epost" required>
									<input type="hidden" name="package_name" value="{{package.name}}">
									<button type="submit" class="spesial-button">Send</button>
								</form>
							</div>
						</div>
						<div class="product-section">
							{% for product in package.get_products %}
							<a href="#" id="productToggle{{forloop.parentloop.counter}}{{ forloop.counter }}">
								<div class="product-image" style="background-image: url({{ product.image.url }});"></div>
							</a>
							{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		{% endfor %}
	</div>
{% endblock content %}

{% block extraJS %}
<script>
	$(document).ready(function() {

		$('.product-text').hide();
		$('.package-text-form').hide();

		$('.package-text-wish').click(function() {
			$('.package-text-button').fadeOut();
			setTimeout(function() {
				$('.package-text-form').fadeIn();
			}, 400);
		});

		$('.close').click(function() {
			$('.product-text').fadeOut();
			$('.package-text-form').fadeOut();
			setTimeout(function() {
				$('.package-image').fadeIn();
				$('.package-text-button').fadeIn();
			}, 400);
		});

		{% for package in packages %}
		{% for product in package.get_products %}
			$('#productToggle{{forloop.parentloop.counter}}{{ forloop.counter }}').click(function() {
				$('.package-image').fadeOut();
				$('.product-text').fadeOut();
				setTimeout(function() {
					$('#product{{forloop.parentloop.counter}}{{ forloop.counter }}').fadeIn();
				}, 500);
			});
		{% endfor %}
		{% endfor %}
	});
</script>
{% endblock extraJS %}